.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 4vmin;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.History-container {
  padding: 0 12px;
}
.View-buttons {  
  margin: 1rem auto;
  max-width: 500px;
  text-align: right;
}
.View-buttons button {
  background-color: transparent;
  border-radius: 4px;
  line-height: 40px;
}
.View-buttons button:first-child {
  margin-right: 1rem;
}
.View-buttons button:hover, .View-buttons button:focus {
  border: 2px solid #000;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
