.Header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 25vh;
}
.Header-headline {
  color: white;
  font-size: calc(10px + 3vmin);
  margin-bottom: 0;
  font-weight: 800;
  text-transform: uppercase;
}
.StandInHeader {
  margin-top: 10rem;
}